/.idea/
/.idea/dictionaries
/html/ui/.idea
/lrd.iml
/lrd_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/lrd.jar
/lrdservice.jar
/lrd_test_db
/README_win.txt
/lrd.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/lrd.manifest.mf
/resource/lrdservice.manifest.mf
/lrd.pro
/lrd.exe
/lrdservice.exe